# Ignore all log files
*.log

# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore compiled Python files
*.pyc

# Ignore environment files
.env

# Ignore VS Code settings
.vscode/

# Ignore build directories
dist/
build/
